#grad1 {
  height: 600px;
  background-image: linear-gradient(158deg, rgb(248, 252, 255), rgb(255, 255, 245), rgb(250, 255, 250));
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  font-family:arial;
  margin-left:36px;margin-top:36px;
  margin-bottom:80px;margin-right:36px;
}

.content {
  max-width:620px; margin:auto;
}

:root {
  --eggplant: rgb(75, 10, 100);
  --nightnavy: rgb(10, 10, 115);
  --nightnavy_pale: rgba(10, 10, 115, 0.3);
}

.button {
  padding:9px 18px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:16px;
  margin:4px 2px;
  transition-duration:0.4s;
  cursor: pointer;
}

.button1 {
  background-color:transparent;
  color:var(--eggplant); 
  border: 2px solid var(--eggplant);
}
.button1:hover {
  background-color:var(--eggplant);
  color:white;
}
.button_on {
  padding:9px 18px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:16px;
  margin:4px 2px;
}
.button_on1 {
  background-color:var(--eggplant);
  color:white;
  border: 2px solid var(--eggplant);
}

a:link, a:visited {
  color:var(--nightnavy);
  text-decoration:underline;
  text-decoration-color:var(--nightnavy_pale);
}
a:hover {
  color:var(--nightnavy);
  text-decoration:underline;
}
